cics-java-liberty-jaxws-app/src/main/webapp/WEB-INF/wsdl/MyCICSService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.cicsdev.ibm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MyCICSService" targetNamespace="http://ws.cicsdev.ibm.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.cicsdev.ibm.com/" elementFormDefault="unqualified" targetNamespace="http://ws.cicsdev.ibm.com/" version="1.0">

  <xs:element name="invokeCICSProgram" type="tns:invokeCICSProgram"></xs:element>

  <xs:element name="invokeCICSProgramResponse" type="tns:invokeCICSProgramResponse"></xs:element>

  <xs:complexType name="invokeCICSProgram">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
      <xs:element name="arg2" type="xs:long"></xs:element>
      <xs:element name="arg3" type="xs:long"></xs:element>
      <xs:element name="arg4" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="arg5" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="invokeCICSProgramResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseWrapper">
    <xs:sequence>
      <xs:element name="resultCode" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="resultText" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="invokeCICSProgramResponse">
    <wsdl:part element="tns:invokeCICSProgramResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeCICSProgram">
    <wsdl:part element="tns:invokeCICSProgram" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MyCICSService">
    <wsdl:operation name="invokeCICSProgram">
      <wsdl:input message="tns:invokeCICSProgram" name="invokeCICSProgram">
    </wsdl:input>
      <wsdl:output message="tns:invokeCICSProgramResponse" name="invokeCICSProgramResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyCICSServiceSoapBinding" type="tns:MyCICSService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="invokeCICSProgram">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="invokeCICSProgram">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="invokeCICSProgramResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyCICSService">
    <wsdl:port binding="tns:MyCICSServiceSoapBinding" name="MyCICSServicePort">
      <soap:address location="http://winmvs2d.hursley.ibm.com:27738/cics-java-liberty-jaxws-app/MyCICSService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>